In [ ]:
import os
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import plotly.express as px
from dotenv import load_dotenv # add this line

In [ ]:
load_dotenv() # add this line
user = os.getenv('MYSQL_USER')
password = os.getenv('MYSQL_PASSWORD')
host = os.getenv('MYSQL_HOST')
db = os.getenv('MYSQL_DATABASE')
port = os.getenv('MYSQL_PORT')

In [ ]:
try:
    conn = pymysql.connect(host = host,
                           port = int(port),
                           user = user,
                           password = password,
                           db = db)
except e:
    print (e)
if conn:
    print ("connection successful")
else:
        print ("error")

In [ ]:
# test connection and access some data
df = pd.read_sql_query("select * from sprint_ny_taxi_db.nyctaxi_trips limit 100", conn)
df

## Quesitos simples

In [ ]:
# Qual a distância média percorrida por viagens com no máximo 2 passageiros;
df = pd.read_sql_query("select ROUND(AVG(trip_distance), 2) as média_distancia from sprint_ny_taxi_db.nyctaxi_trips", conn)
df

In [ ]:
# Quais os 3 maiores ​vendors​ em quantidade total de dinheiro arrecadado;
df = pd.read_sql_query("SELECT vendor_id, ROUND(SUM(total_amount), 2) as total_amount from sprint_ny_taxi_db.nyctaxi_trips GROUP BY vendor_id ORDER BY total_amount DESC LIMIT 3", conn)
df

In [ ]:
# Faça um histograma da distribuição mensal, nos 4 anos, de corridas pagas em dinheiro;
df = pd.read_sql_query("SELECT MONTH(pickup_datetime) AS mes, SUM(total_amount) AS total_vendas, vendor_id FROM nyctaxi_trips WHERE YEAR(pickup_datetime) BETWEEN 2009 AND 2012 GROUP BY MONTH(pickup_datetime), vendor_id ORDER BY mes;", conn)
px.histogram(df, x="mes", y="total_vendas",  color="vendor_id", title="Soma de venda em dinheiro dos 4 anos exibido por mês ", nbins=50)

In [ ]:
# Faça um gráfico de série temporal contando a quantidade de gorjetas de cada dia, nos últimos 3 meses de 2012.
df = pd.read_sql_query("SELECT Day(pickup_datetime) AS dia, MONTH(pickup_datetime) AS mes, round(sum(tip_amount),2) AS total_gorjetas FROM nyctaxi_trips WHERE YEAR(pickup_datetime) = 2012 AND MONTH(pickup_datetime) BETWEEN 10 AND 12 GROUP BY YEAR(pickup_datetime), dia, mes ORDER BY dia;", conn)
px.histogram(df, x="dia", y="total_gorjetas", color="mes", title="Quantidade de gorjetas de cada dia, nos últimos 3 meses de 2012", nbins=100)

## Quesitos bônus

In [ ]:
# Qual o tempo médio das corridas nos dias de sábado e domingo;

In [ ]:
# Fazer uma visualização em mapa com latitude e longitude de ​pickups and ​dropoffs ​no ano de 2010;