In [5]:
import pandas as pd

In [2]:
!wget = "https://s3.amazonaws.com/data-sprints-eng-test/data-vendor_lookup-csv.csv"

--2024-01-09 22:42:14--  http://=/
Resolving = (=)... failed: Name or service not known.
wget: unable to resolve host address ‘=’
--2024-01-09 22:42:14--  https://s3.amazonaws.com/data-sprints-eng-test/data-vendor_lookup-csv.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.77.126, 52.216.176.109, 52.216.52.224, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.77.126|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 517 [text/csv]
Saving to: ‘data-vendor_lookup-csv.csv’

data-vendor_lookup- 100%[===================>]     517  --.-KB/s    in 0s

2024-01-09 22:42:14 (45,4 MB/s) - ‘data-vendor_lookup-csv.csv’ saved [517/517]

FINISHED --2024-01-09 22:42:14--
Total wall clock time: 0,5s
Downloaded: 1 files, 517 in 0s (45,4 MB/s)

In [3]:
data = 'data-vendor_lookup-csv.csv'

In [6]:
df = pd.read_csv(data)

In [8]:
df.head()

,vendor_id,name,address,city,state,zip,country,contact,current
0,CMT,"Creative Mobile Technologies, LLC",950 4th Road Suite 78,Brooklyn,NY,11210,USA,contactCMT@gmail.com,Yes
1,VTS,VeriFone Inc,26 Summit St.,Flushing,NY,11354,USA,admin@vtstaxi.com,Yes
2,DDS,"Dependable Driver Service, Inc",8554 North Homestead St.,Bronx,NY,10472,USA,9778896500,Yes
3,TS,Total Solutions Co,Five Boroughs Taxi Co.,Brooklyn,NY,11229,USA,mgmt@5btc.com,Yes
4,MT,Mega Taxi,4 East Jennings St.,Brooklyn,NY,11228,USA,contact@megataxico.com,No

In [18]:
len(df)

5

In [9]:
df.dtypes

vendor_id    object
name         object
address      object
city         object
state        object
zip           int64
country      object
contact      object
current      object
dtype: object

In [10]:
from sqlalchemy import create_engine

In [11]:
import pymysql

In [12]:
user = "sprint"
password = "sprint"
host = "localhost"
port = "3306"
db = "sprint_ny_taxi"

In [13]:
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{db}")

In [14]:
engine.connect()

In [15]:
print(pd.io.sql.get_schema(df, name='nyctaxi-vendor', con=engine))

CREATE TABLE `nyctaxi-vendor` (
	vendor_id TEXT,
	name TEXT,
	address TEXT,
	city TEXT,
	state TEXT,
	zip BIGINT,
	country TEXT,
	contact TEXT,
	current TEXT
)

In [20]:
df.head(n=0).to_sql(name='nyctaxi-vendor', con=engine, if_exists='replace')

0

In [21]:
%time df.to_sql(name='nyctaxi-vendor', con=engine, if_exists='append')

CPU times: user 5.48 ms, sys: 0 ns, total: 5.48 ms
Wall time: 7.52 ms

5

In [22]:
!wget = "https://s3.amazonaws.com/data-sprints-eng-test/data-payment_lookup-csv.csv"

--2024-01-09 22:48:31--  http://=/
Resolving = (=)... failed: Name or service not known.
wget: unable to resolve host address ‘=’
--2024-01-09 22:48:31--  https://s3.amazonaws.com/data-sprints-eng-test/data-payment_lookup-csv.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.96.126, 52.217.122.8, 52.217.229.232, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.96.126|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31865 (31K) [text/csv]
Saving to: ‘data-payment_lookup-csv.csv’

data-payment_lookup 100%[===================>]  31,12K  --.-KB/s    in 0,1s

2024-01-09 22:48:32 (258 KB/s) - ‘data-payment_lookup-csv.csv’ saved [31865/31865]

FINISHED --2024-01-09 22:48:32--
Total wall clock time: 0,7s
Downloaded: 1 files, 31K in 0,1s (258 KB/s)

In [23]:
data1 = 'data-payment_lookup-csv.csv'

In [24]:
df1 = pd.read_csv(data1)

In [25]:
display(df1)

                 A               B
0     payment_type  payment_lookup
1              Cas            Cash
2              CAS            Cash
3              Cre          Credit
4              CRE          Credit
...            ...             ...
3284          3267             Foo
3285          3268             Foo
3286          3269             Foo
3287          3270             Foo
3288          3271             Foo

[3289 rows x 2 columns]

In [26]:
len(df1)

3289

In [27]:
df1.dtypes

A    object
B    object
dtype: object

In [28]:
df1.info

<bound method DataFrame.info of                  A               B
0     payment_type  payment_lookup
1              Cas            Cash
2              CAS            Cash
3              Cre          Credit
4              CRE          Credit
...            ...             ...
3284          3267             Foo
3285          3268             Foo
3286          3269             Foo
3287          3270             Foo
3288          3271             Foo

[3289 rows x 2 columns]>

In [33]:
df1.head(20)

               A               B
0   payment_type  payment_lookup
1            Cas            Cash
2            CAS            Cash
3            Cre          Credit
4            CRE          Credit
5            No        No Charge
6            Dis         Dispute
7           Cash            Cash
8           CASH            Cash
9         Credit          Credit
10        CREDIT          Credit
11     No Charge       No Charge
12       Dispute         Dispute
13           CRD          Credit
14           CSH            Cash
15           NOC       No Charge
16           DIS         Dispute
17           UNK         Unknown
18             1             Foo
19             2             Foo

In [44]:
df1 = df1[1:18]

In [45]:
df1['A'] = df1['A'].astype(str).str.lower()
df1['B'] = df1['B'].astype(str).str.lower()

/tmp/ipykernel_64646/3304296812.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['A'] = df1['A'].astype(str).str.lower()
/tmp/ipykernel_64646/3304296812.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['B'] = df1['B'].astype(str).str.lower()

In [47]:
display(df1)

            A          B
1         cas       cash
2         cas       cash
3         cre     credit
4         cre     credit
5         no   no charge
6         dis    dispute
7        cash       cash
8        cash       cash
9      credit     credit
10     credit     credit
11  no charge  no charge
12    dispute    dispute
13        crd     credit
14        csh       cash
15        noc  no charge
16        dis    dispute
17        unk    unknown

In [51]:
#payment_type 	payment_lookup
df1.rename(columns = {'A':'payment_type', 'B':'payment_lookup'}, inplace=True)

/tmp/ipykernel_64646/3388187564.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns = {'A':'payment_type', 'B':'payment_lookup'}, inplace=True)

In [64]:
display(df1)

   payment_type payment_lookup
1           cas           cash
3           cre         credit
5           no       no charge
6           dis        dispute
7          cash           cash
9        credit         credit
11    no charge      no charge
12      dispute        dispute
13          crd         credit
14          csh           cash
15          noc      no charge
17          unk        unknown

In [65]:
df1 = df1.drop_duplicates(subset=['payment_type'], keep='first')
print(df1)

   payment_type payment_lookup
1           cas           cash
3           cre         credit
5           no       no charge
6           dis        dispute
7          cash           cash
9        credit         credit
11    no charge      no charge
12      dispute        dispute
13          crd         credit
14          csh           cash
15          noc      no charge
17          unk        unknown

In [68]:
df1 = df1.drop(labels=[5, 7, 9, 11, 12, 13, 14], axis=0)

In [72]:
df1 = df1.reset_index()

In [73]:
display(df1)

   index payment_type payment_lookup
0      1          cas           cash
1      3          cre         credit
2      6          dis        dispute
3     15          noc      no charge
4     17          unk        unknown