In [1]:
file = "air_data/data-sample_data-nyctaxi-trips-2009-json_corrigido.json"

In [2]:
import pandas as pd

In [40]:
df = pd.read_json(file, lines=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 17 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   vendor_id           1000000 non-null  object
 1   pickup_datetime     1000000 non-null  object
 2   dropoff_datetime    1000000 non-null  object
 3   passenger_count     1000000 non-null  int64
 4   trip_distance       1000000 non-null  float64
 5   pickup_longitude    1000000 non-null  float64
 6   pickup_latitude     1000000 non-null  float64
 7   rate_code           0 non-null        float64
 8   store_and_fwd_flag  62 non-null       float64
 9   dropoff_longitude   1000000 non-null  float64
 10  dropoff_latitude    1000000 non-null  float64
 11  payment_type        1000000 non-null  object
 12  fare_amount         1000000 non-null  float64
 13  surcharge           1000000 non-null  float64
 14  tip_amount          1000000 non-null  float64
 15  tolls_amount        1000000 non-null  float64
 16  total_amount        1000000 non-null  float64
dtypes: float64(12), int64(1), object(4)
memory usage: 129.7+ MB

In [46]:
pd.to_datetime(df["pickup_datetime"], format='ISO8601', utc=True, yearfirst=True)

0        2009-04-21 18:51:11.767205+00:00
1        2009-01-13 07:40:07.639754+00:00
2        2009-01-06 19:30:44.142187+00:00
3        2009-09-24 08:28:09.004451+00:00
4        2009-10-29 05:50:39.214629+00:00
                       ...
999995   2009-04-24 20:26:49.177887+00:00
999996   2009-10-15 23:50:58.953649+00:00
999997   2009-10-17 23:32:59.567188+00:00
999998   2009-04-29 16:24:48.679701+00:00
999999   2009-02-27 21:56:18.386664+00:00
Name: pickup_datetime, Length: 1000000, dtype: datetime64[ns, UTC]

In [47]:
    df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'], format='mixed').dt.tz_convert(None)
    df['dropoff_datetime'] = pd.to_datetime(df['dropoff_datetime'], format='mixed').dt.tz_convert(None)

In [51]:
pd.to_datetime(df["pickup_datetime"], utc=True, format='%Y-%m-%dT%H:%M:%S.%f')
#pd.to_datetime(df["pickup_datetime"], format='mixed')

0        2009-04-21 18:51:11.767205+00:00
1        2009-01-13 07:40:07.639754+00:00
2        2009-01-06 19:30:44.142187+00:00
3        2009-09-24 08:28:09.004451+00:00
4        2009-10-29 05:50:39.214629+00:00
                       ...
999995   2009-04-24 20:26:49.177887+00:00
999996   2009-10-15 23:50:58.953649+00:00
999997   2009-10-17 23:32:59.567188+00:00
999998   2009-04-29 16:24:48.679701+00:00
999999   2009-02-27 21:56:18.386664+00:00
Name: pickup_datetime, Length: 1000000, dtype: datetime64[ns, UTC]

In [49]:
#display(df.iloc[498551])

In [45]:
df.at[498551,'pickup_datetime'] = '2009-04-02 23:37:30.297216+00:00'
display(df.at[498551,'pickup_datetime'])

'2009-04-02 23:37:30.297216+00:00'

In [29]:
df.head().to_dict()

{'vendor_id': {0: 'CMT', 1: 'CMT', 2: 'VTS', 3: 'VTS', 4: 'VTS'},
 'pickup_datetime': {0: '2009-04-21T18:51:11.767205+00:00',
  1: '2009-01-13T07:40:07.639754+00:00',
  2: '2009-01-06T19:30:44.142187+00:00',
  3: '2009-09-24T08:28:09.004451+00:00',
  4: '2009-10-29T05:50:39.214629+00:00'},
 'dropoff_datetime': {0: '2009-04-21T18:57:09.433767+00:00',
  1: '2009-01-13T07:50:36.386011+00:00',
  2: '2009-01-06T19:43:09.908429+00:00',
  3: '2009-09-24T08:41:56.739991+00:00',
  4: '2009-10-29T05:57:22.880174+00:00'},
 'passenger_count': {0: 2, 1: 1, 2: 5, 3: 1, 4: 1},
 'trip_distance': {0: 0.8, 1: 5.4, 2: 1.67, 3: 4.13, 4: 2.03},
 'pickup_longitude': {0: -74.004114,
  1: -73.996506,
  2: -73.95134,
  3: -74.001117,
  4: -73.9766},
 'pickup_latitude': {0: 40.74295,
  1: 40.747784,
  2: 40.75207,
  3: 40.729128,
  4: 40.756873},
 'rate_code': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'store_and_fwd_flag': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'dropoff_longitude': {0: -73.994712,
  1: -73.940449,
  2: -73.944535,
  3: -73.958122,
  4: -73.979757},
 'dropoff_latitude': {0: 40.74795,
  1: 40.792385,
  2: 40.768108,
  3: 40.721812,
  4: 40.776075},
 'payment_type': {0: 'Cash', 1: 'Cash', 2: 'CASH', 3: 'CASH', 4: 'CASH'},
 'fare_amount': {0: 5.4, 1: 15.4, 2: 6.1, 3: 12.9, 4: 7.7},
 'surcharge': {0: 0.0, 1: 0.0, 2: 1.0, 3: 0.5, 4: 0.5},
 'tip_amount': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0},
 'tolls_amount': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0},
 'total_amount': {0: 5.4, 1: 15.4, 2: 7.1, 3: 13.4, 4: 8.2}}

In [48]:
print(pd.__version__)

2.1.4